<section>
  <div class="container-fluid">
    <div class="row section-header">
      <div class="col-12 text-center">
        <h2>Your Betting Slip</h2>
      </div>
    </div>
  </div>

  <div class="container-fluid container-full">
    <div class="row section-body">
      <form class="col-md-12 px-0">
        <div class="d-flex bet" *ngFor="let bet of slipBets">
          <div class="name-container">
            <div class="name">{{bet.name}}</div>
            <div class="event">To win {{bet.event}}</div>
          </div>
          <div class="stake-container">
            <app-odds [bet]="bet"></app-odds>
            <div class="stake"><input min="1" type="number" name="bet-stake" class="form-control" [(ngModel)]="bet.stake"/></div>
            <div class="return">
              <!--<span>-->
                {{(bet.stake / bet.odds.denominator * bet.odds.numerator + bet.stake) | currency:'GBP'}}
              <!--</span>-->
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
  <div class="container-fluid">
    <div class="row section-footer">
      <div class="col-12">
        <button class="btn btn-primary btn-warning btn-lg btn-block" (click)="placeBets()">Place Bets</button>
      </div>
    </div>
  </div>
</section>
