<div class="container-fluid">
            <div class="navbar">
                <div  class="nav-item">
    <span>
        <a *ngIf="currentRoute === '/'" routerLink="/placed-bets">Placed Bets</a>
        <a *ngIf="currentRoute !== '/'" routerLink="/">Available Bets</a>
    </span>
                </div>
                <div class="nav-item odds-type-control">
                    <span>Decimal Odds</span>
                    <label class="switch">
                        <input type="checkbox" [(ngModel)]="decimalOddsStatus">
                        <span class="slider round"></span>
                    </label>
                </div>
            </div>
</div>

