<div class="app-container">
    <div class="header">
        <div class="nav">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-9">
                        <div>
                            <img class="brand-logo img-fluid" src="assets/images/bet-now-logo.png">
                        </div>
                    </div>
                    <div class="col-3 pr-4 d-flex justify-content-end align-items-center">
                        <div class="navbar d-flex justify-content-end">
                            <fa [name]="'bars'" [size]="2" (click)="toggleSlip()"></fa>
                            <div class="slip-bet-count" (click)="toggleSlip()"><span>{{slipBetCount}}</span></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <app-menu [ngClass]="{'active' : menuStatus}"></app-menu>
    </div>
    <router-outlet></router-outlet>
    <div class="container-fluid">
        <div toastContainer></div>
    </div>
    <div class="loader"  [ngClass]="{'inactive' : !loading}">
        <div class="loader-container">
            <sk-wandering-cubes [color]="'#132C6C'"></sk-wandering-cubes>
        </div>
    </div>
</div>

