<section>
    <div class="container-fluid">
        <div *ngFor="let event of events" class="row section-body event">
            <div class="col-md-12">
                <div class="event-name">
                    <h4>{{event.name}}</h4>
                </div>
                <div (click)="addBetToSlip(bet)" *ngFor="let bet of event.bets">
                    <div class="d-flex bet d-flex justify-content-between">
                        <div class="bet-name">{{bet.name}}</div>
                        <app-odds [bet]="bet"></app-odds>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
