<section>
    <div class="container-fluid container-full">
        <div *ngFor="let event of events" class="row section-body event">
            <div class="col-md-12">
                <div class="event-name">
                    <h4>{{event.name}}</h4>
                </div>
                <div (click)="addBetToSlip(bet)" class="d-flex bet" *ngFor="let bet of event.bets">
                  <div class="bet-name">{{bet.name}}</div>
                  <div class="bet-odds">{{bet.odds.numerator}}/{{bet.odds.denominator}}</div>
                </div>
            </div>
        </div>
    </div>
</section>
